<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        <div class="ask485">ask485?</div>
    </title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
    <div class="feed">
        <div class="search_bar">
            <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
            <form action="/" method="GET">
                {% if request.args.get('q') == None %}
                    <div><input type="text" name="q" /></div>
                {% else %}
                    <div><input type="text" name="q" value="{{ request.args.get('q') }}" /></div>
                {% endif %}
                {% if request.args.get('w') == None %}
                    <div><input type="range" name="w" min="0" max="1" step=".01" /></div>
                {% else %}
                    <div><input type="range" name="w" min="0" max="1" step=".01" value="{{ request.args.get('w') }}" /></div>
                {% endif %}
                <input type="submit" value="Search"/>
            </form>
        </div>
        <div class="docs">
            {% if num_docs == 0 %}
                <div class="no_results">No search results found!</div>
            {% else %}
                {% for doc in docs %}
                <div class="doc">
                    <!-- if the document exists -->
                    {% if doc.url %}
                        <a class="doc_url" href="{{doc.url}}">{{doc.url}}</a>
                    {% else %}
                        <a class="doc_url">No url available</a>
                    {% endif %}
                    <div class="doc_title">{{doc.title}}</div>
                    {% if doc.summary%}
                        <div class="doc_summary">{{doc.summary}}</div>
                    {% else %}
                        <div class="doc_summary"> No summary available </div>
                    {% endif %}
                </div>
                {% endfor %}
            {%endif%}
        </div>
    </div>
</body>
</html>